@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>



<div class="container">
    <div class="row" >
        <br />
        <br />
       @Html.Partial("ProductDisplayPartial", Model)
    </div>
</div>


