@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>



<h1>Products</h1>




    <div class="container">
        <div class="row">
            @foreach (var m in Model)
            {
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem; ">

                        <img src="@m.ImageURL" class="image" alt="image" crossorigin="anonymous" />

                        <div class="card-body">
                            <h5 class="card-title">@m.Name</h5>
                            <p class="card-text">@m.Price</p>
                            <a href="Products/Details?id=@m.Id" class="btn btn-dark">Details</a>
                            @if (User.IsInRole("mgr"))
                            {
                                <a href="Products/Delete?id=@m.Id" class="btn btn-danger" onclick="return window.confirm(" Are you sure?")>Delete</a>
                            }
                            @if (User.IsInRole("mgr") || User.IsInRole("User"))
                            {
                                <a href="Products/AddToCart?id=@m.Id" class="btn btn-dark">Add To Cart </a>

                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



